﻿/* @theme my-theme */

@import "default";

:root {
    --primary-color: #FF6E31;
    --secondary-color: #243763;
    --tertiary-color: #AD8E70;
    --default-back-color: #FFEBB7;
    background-color: var(--default-back-color);
}

section h1 {
    font-size: 80px;
}

section h2 {
    font-size: 70px;
}

section h3 {
    font-size: 60px;
    color: var(--primary-color);
    grid-area: slideheading;
}

section strong {
    color: var(--primary-color);
}

/* 表紙 */
section.front-cover {
    background-color: var(--secondary-color);
}

section.front-cover>h1 {
    color: var(--primary-color);
}

/* セクションタントル */
section.section-title {
    background-color: var(--secondary-color);
}

section.section-title>h2 {
    color: var(--primary-color);
}

/* 裏表紙 */
section.back-cover {
    background-color: var(--secondary-color);
}

section.back-cover>h2 {
    color: var(--primary-color);
}

/* ページ内2分割 */
section.split {
    overflow: visible;
    display: grid;
    grid-template-columns: 500px 500px;
    grid-template-rows: 100px auto;
    grid-template-areas:
        "slideheading slideheading"
        "leftpanel rightpanel";
}

section h3,
section .ldiv,
section .rdiv {
    /* border: 1.5pt dashed dimgray; */
}

section.split .ldiv {
    grid-area: leftpanel;
}

section.split .rdiv {
    grid-area: rightpanel;
}